.Card {
    display: flex;
    width: 235px;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px #D0DAEB, 0px 0px 2px 0px #EEF4FE;

}

.dateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        font-size: 13px;
        color: #50B810;
        margin: 0;
    }
}

.ellipsisHeader {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #3D8FEC;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    line-height: 130%;
    input {
        margin-right: 8px;
        width: 16px;
        height: 16px;
        margin: 2px 0 0 0;
        background-color: transparent;
        border: 1px solid rgba(170, 183, 212, 1);
    }
}

.ellipsisText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tags{
    display: flex;
    align-items: center;
    gap: 4px;
}
.tag1 {
    display: inline-flex;
    align-items: center;
    padding: 1px 6px 2px 6px;
    background-color: #B233A6;
    color: #fff;
    font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
    border-radius: 4px;
  }

.tag2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 1px 6px 2px 6px;
    background-color: #EBEEF6;
    color: #616C82;
    font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
    border-radius: 4px;
  }
  
  .tag2::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px; 
    width: 0;
    height: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent #EBEEF6;
  }